# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.6

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "VCQutd8xvcuqmIV7r8xTbEyLPSXPhExM9xfbVUMu8nDN4HEGvVjDwML6EskCdm2ZpF/kf/hEU92EGb7XMP7wVw9Rkdac0jcytP/e8FahN2nG32UB03M63XWgYTya41AKiQ/TVwiMwQ1HZAxXoETBwmUBf2sDmUT7+a5oxazcJQ+G99YRwOJ47CBsRmPTe52kkubYFMxHvkiMe16zMs7ciOAr/UXIKmv1XnNSRM1GCpvdjMBrSoLFzU+e4UomohCxhitTFP/AVPlqf6UsUKj7mzbneIaGONM0ztN4y+CJyJ32DxGfw6tAe04Syac43tFzQ86j7DIGLpZBduk6npEa4OIC6q6p/vHqO+S6o0ThuQuder8ZAeGaT47UAeghJguf/1oJlt8P2eKffA8iSj0HAIZJbuExyBVAQzFKZ43b9cLxcSRCMXKLe/mLqjeoewGpQCH19H70jx/SjG5rMuggx/riZpas09fGaX1lY9fq3IFJ5VwYVVOHDmRoDUTc00BC8K+e08yL2G8tqHt1ad1q+WVLF0Z0FzlM+LvXCR9x3ecR6y4Ak/6Y5CgF2puR8b+nZocb6h2SS4fGq4iVRkLyJW8otvsO8ftYxwSWitGPoQnG4juzREtZ/rdjxyoEXuRwVRNhBK3noGjtQYCl649zRQRQk+TwYXdcUZULAl58cyk="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml
    - |
      travis_wait mvn 20 install

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
